<%= form_tag questions_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<h1>All Questions</h1>

<ul>
<% @questions.each do |q| %>
	<li><%= link_to q.title, q %></li>
<% end %>
</ul>