/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.header li  {
	padding-right:25px;
	display:inline;
	text-align: center;
	font-size: 150%;
}

.header li a {
	color: white;
}

.header {
	padding: 10px 0 10px;
	margin:0 0 20px;
	background-color: black;
}

.container {
	text-align: center;
	border:2px solid gray;
}

p .content {
	text-align: left;
}

ul {
	list-style-type: none;
}